.venv
pg-airflow-db
minio_data
pg-typing-pdf-extractor-db
qdrant-pdf-vector-db
logs
pdf_examples
.git
.gitignore
.dockerignore
docker-compose.yml
extractor-typin-pdf-microservice
text-searcher-microservice
.DS_Store
